body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 8);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    position: relative;
    list-style-type: none;
    width: 100px;
    height: 100px;
    /* background-color: lawngreen; */
    margin: 0 10px;
    border-radius: 50%;
}
ul li:before
,ul li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    filter: blur(20px);
    z-index: -1;
    opacity: 0;
    transition: 1s;
}
ul li:after {
   filter: blur(40px); 
}
ul li:hover:before,
ul li:hover:after {
    opacity: 1;
}
ul li a {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 80px;
    background-color: lightcoral;
    color:white;
    font-size: 28px;
    border-radius: 50%;
}
ul li a i {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    transform: 0.5s;
}
ul li a:hover i {
    opacity: 1;
    transform: scale(1.5);
}
ul li:nth-child(1) a, 
ul li:nth-child(1)::before,
ul li:nth-child(1)::after {
    background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
}
ul li:nth-child(2) a, 
ul li:nth-child(2)::before,
ul li:nth-child(2)::after {
    background: linear-gradient(45deg, #000000, #0f9b0f);
}

ul li:nth-child(3) a, 
ul li:nth-child(3)::before,
ul li:nth-child(3)::after {
    background: linear-gradient(45deg, #642b73, #c6426e);
}
ul li:nth-child(4) a, 
ul li:nth-child(4)::before,
ul li:nth-child(4)::after {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}


